@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.nav-container {
  transform: translateY(-100px);
  animation: fadeIn 1s ease-in-out forwards;
}

.nav-container * {
  cursor: pointer;
}
.nav-container ul li {
  color: #989898;
  transition: color 100ms ease-in-out;
}
.nav-container ul li:hover {
  color: #f3f3f3;
}
.nav-login {
  transition: border-color 100ms ease-in-out;
}

.nav-login:hover {
  border: 1px solid rgb(162, 162, 184);
}

.mainbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.titleTextContainer {
  animation: fadeIn 600ms ease-in-out forwards;
  opacity: 0;
  transform: translateY(-20px);
}

.modal {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
